

@import "styles/variaveis";
@import "styles/breakpoints";




@import "styles/variaveis";
@import "styles/breakpoints";

.inicio{
    align-items: center;
}
.inicio__text {
font-size: 2rem;
text-align: center;
padding: 30px 20px;
}
.inicio__tex {
    font-size: 2.3rem;
    text-align: center;
    padding: 30px 20px;
    font-weight: bold;
    }